# Librerías de análisis de datos y visualización
pandas>=2.0.0
numpy>=1.26.0
matplotlib>=3.8.0
seaborn>=0.13.0

# Librerías científicas y estadísticas
scipy>=1.11.0

# Machine Learning
scikit-learn>=1.4.0
surprise>=0.1
nltk>=3.9.0

# Otras dependencias útiles
asttokens>=2.4.0
