pandas
numpy
seaborn
matplotlib
scipy
scikit-learn
statsmodels
jupyter
jupyterlab
notebook
ipython
ipywidgets
sympy
plotly
bokeh
altair
networkx
pillow
openpyxl
xlrd
pyarrow
xlsxwriter
fastparquet
h5py
sqlalchemy
requests
beautifulsoup4
lxml
tqdm
joblib
numba
cython
polars